<!DOCTYPE html>
<html>
<head>
  <title>PonyExpress</title>
  <%= stylesheet_link_tag    "pony_express/application", :media => "all" %>
  <%= javascript_include_tag "pony_express/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
